---
---
$rossoS: #8E072C;

h1, h2, h3, h4, h5, h6{
  font-family: Merriweather;
  font-weight: bold;
}

nav.navbar{
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, .6) !important;

  @media (min-width: 576px) {
    background-color: rgba(0, 0, 0, .3) !important;
  }

  a{
    color: #fff !important;
  }
}

.img-container{
  background: url('../images/css/paths-header.jpg');
  padding-top: 50px;
  width: 100% !important;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  overflow: hidden;

  h1{
    color: white;
    font-size: 2rem;
    padding: 1rem;
    padding-left: 1rem;
    text-shadow: 0 0 1rem #000;

    @media (min-width: 576px) {
      font-size: 2.5rem;
      width: 60%;
      padding: 50px;
      padding-left: 4rem;
    }
  }
}


.news{
  h4 a{
    color: $rossoS;
  }
}

.cooperation{
  ul{
    list-style: none;

    li p{
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      margin-top: 2rem;

      img{
        display: block;
        margin: auto;
      }
      a{
        display: block;
        text-align: center;
        padding-bottom: 1rem;
        border-bottom: 1px dotted $rossoS;
      }

      @media (min-width: 768px) {
        img{
          float: left;
          margin-right: 2rem;
          padding-right: 1rem;
          border-right: 1px dotted $rossoS;
        }
        a{
          padding-top: 2rem;
          text-align: left;
          border-bottom: none;
        }
      }
    }
  }
}
