<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% for item in site.data.menu.docs %}
         <li class="nav-item{% if page.url == item.url %} active{% endif %}">
           <a class="nav-link" href="{{ item.url }}" alt="{{ item.title }}" title="{{ item.title }}">
             {{ item.title }}
           </a>
         </li>
      {% endfor %}

    </ul>
  </div>
</nav>
